.chat__write-container {
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@keyframes float {
    0% {
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
            0 18px 36px -18px rgba(0, 0, 0, 0.3),
            0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    50% {
        box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
            0 18px 36px -18px rgba(0, 0, 0, 0.3),
            0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    100% {
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
            0 18px 36px -18px rgba(0, 0, 0, 0.3),
            0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
}

.chat__write {
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
    padding: 20px 60px;
    border: 1px solid black;
    font-size: 14px;
    transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
        transform 0.5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    transform: translateY(-100px);
    width: 80%;
    border-radius: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    animation: float 3s ease-in-out infinite forwards;
}

.chat__write:focus ~ .chat__icon {
    opacity: 0;
}

.chat__icon {
    font-size: 22px;
    transition: opacity 0.15s ease-in-out;
}

.chat__icon-left {
    position: absolute;
    left: 18px;
}

.chat__icon-right {
    position: absolute;
    right: 18px;
}

.chat__write-icon:last-child {
    margin-left: 16px;
}
