.status-bar {
    position: fixed;
    padding: 10px 0px;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #f7f7f7;
    color: rgba(2, 2, 2, 0.7);
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__column {
    margin-left: 20px;
    margin-right: 20px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}
